/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@600;700&display=swap');

 *,
 *::after,
 *::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   font-family: 'Poppins', 'Montserrat', sans-serif;
 }

 button {
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
 }

 .greeting-page {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background-color: #ccc;
 }

.greeting-container {
  width: 90%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.3px 0.5px 0.7px hsl(160deg, 36%, 56%),
    0.8px 1.6px 2px -0.8px hsl(160deg, 36%, 56%),
    2.1px 4.1px 5.2px -1.7px hsl(160deg, 36%, 56%),
    5px 10px 12.6px -2.5px hsl(160deg, 36%, 56%);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.greeting-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  gap: 0.5rem;
  font-weight: 600;
  color: #fff;
  background-color: hsl(74, 85%, 41%);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.greeting-btn:hover {
  background-color: hsl(74, 84%, 33%);
}

@media only screen and (min-width: 768px) {
  .greeting-container {
    width: 50%;
    font-size: 1.5rem;
  }
}
